__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.env
.venv/
venv/
env/

exp/
outputs/
lightning_logs/
wandb/
tensorboard/

checkpoints/*
!checkpoints/.gitkeep
*.ckpt
!checkpoints/FireDrive_riskattn64_single_gpu-915.ckpt
*.pth
*.pt

assets/resnet34.a1_in1k/
*.bin

openscene-v1.1/
navsim_logs/
sensor_blobs/
test_navsim_logs/
test_sensor_blobs/
metric_cache/
training_cache/

*.log
*.tmp
